


/*footer */
footer{
background-color: black;
padding: 50px 50px 50px 80px;
	width:100%
}

/*navbar text*/
.h{font-family: "Oswald";
    font-size: 150%
  }
	
/*Background body */    
body{
	background-color:green;

}

/*Button design*/
.buttdesign{
overflow:hidden;
text-decoration:none!important;
padding:6px 16px;
color:#fff;
background-color: white;
text-align:center;
white-space:nowrap}
.buttdesign:hover{
box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),
			0 6px 20px 0 rgba(0,0,0,0.19)}

/*Special design for navbar */		
.effect{
overflow:hidden;
text-decoration:none!important;
color:#fff;
text-align:center;
white-space:nowrap}
.effect:hover{
box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),
			0 6px 20px 0 rgba(0,0,0,0.19)}

/*Background image design in middle */
.bgimg-1, .bgimg-2  {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 400px;}

/*Background image one in middle*/
.bgimg-1 {
    background-image: url("images/coffe3.jpg");
		width:100%

}

/*Background image two in middle*/
.bgimg-2 {
    background-image: url("images/coffe4.jpg");
		width:100%

}


/*Text area page content */
.page {
    background-color: #f2f4f7;
    padding: 50px 30px 50px 80px;
		width:100%

	
}

/*Slideshow images */
.mySlides {display: none;
        background-attachment: fixed
			width:100%

}


/*Color for JS navbar */
.color-red,.color-hover-red:hover{color:#fff!important;background-color:#963131!important}


/* Side navigation */
.xlarge{font-size:24px!important}
.sidenav{height:100%;width:100px;background-color:gray;position:fixed!important;z-index:1;overflow:auto}
.sidenav a{text-decoration:none!important;padding:4px 2px 4px 16px;display:block}
.sidenav a:hover{background-color:#ccc}
.sidenav-click{min-width:100%}

/* Keeps navbar on top */
.top{top:0;position:fixed;width:100%;z-index:1}


/* horizontal navbar */
.navbar li{float:left}
.navbar li a,.w3-navbar li .w3-input{display:block;padding:8px 16px}
.navbar li a:hover{color:#000;background-color:#ccc}
.navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.navbar:hover,
.navbar:first-child,
.navbar-click{position:static}
/*.navbar-click:hover{background-color:#ccc;color:#000}*/
/*.black,.hover-black:hover{color:#fff!important;background-color:#000!important}*/







